.advantages-item {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.advantages-item__list {
  margin-bottom: 30px;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px * 1) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 3) / 4);
  }
}

// .advantages-item__list:last-child {
//   margin-right: 0px;
// }

.advantages-item__block {
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;

  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages-item__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.advantages-item__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}
