.advantages-item {
  display: flex;
}

.advantages-item__list:not(:last-child) {
  margin-right: 30px;
}
.advantages-item__list:not(:last-child) {
  margin-right: 30px;
}

.advantages-item__list::before {
  display: block;
  content: "";
  margin-bottom: 30px;

  width: 270px;
  height: 120px;

  background: var(--background-color-icon-advantage);
  border-radius: 4px;
}

.advantages-item__list:nth-child(1)::before {
  background-image: url(../images/antenna\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-item__list:nth-child(2)::before {
  background-image: url(../images/clock.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-item__list:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-item__list:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.advantages-item__subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.advantages-item__text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
