.client-titlle {
  font-size: 28px;
  line-height: 1.179;
  margin-bottom: 30px;
  color: var(--primary-text-color);
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

.client-item {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  list-style: none;
}

.client-list {
  align-items: center;
  width: calc((100% - 30px * 1) / 2);
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px * 2) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px * 5) / 6);
  }
}

.client-link {
  display: flex;

  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-icon-command);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--color-icon-command);

  transition: border-color var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    border-color: var(--acent-color);
    color: var(--acent-color);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.icon-client {
  width: 100%;
  fill: currentColor;
}
