.header {
  border-bottom: 1px solid var(--border-header);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  // display: flex;
  display: none;
  align-items: center;
}

.nav__text {
  padding: 24px 0;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--black-text-color);
}

.nav__link {
  color: var(--acent-color);
}

.item {
  display: flex;

  gap: 50px;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;

  background: var(--acent-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;

  position: absolute;
  bottom: 0;
  left: 0;
}

.item__link {
  position: relative;
  padding: 32px 0;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.page-list {
  // display: flex;
  display: none;
  margin-left: auto;
  align-items: center;
}

.contacts {
  display: flex;
  gap: 50px;
}
.contacts__item {
  margin-right: auto;
}

.contacts__link {
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--acent-color);
}

.contacts__item {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.contacts__link {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.contacts__icon {
  //   box-sizing: border-box;
  fill: currentColor;
  margin-right: 10px;
  margin-bottom: 0;
}

.navigation {
  margin-bottom: 50px;
}

.nav-item__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav__text {
  padding: 24px 0;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--black-text-color);
}

.modal-button {
  position: absolute;
  top: 10px;
  right: 15px;
}
// .modal-class-icon {
//   display: block;
// }
// .header-modal {
//   display: block;
//   position: fixed;
//   width: 100vw;
//   height: 100vw;
//   background-color: white;
// }
// .modal-button-close {
// }

.contact-mob {
  // display: flex;
  // gap: 50px;
}

.contact-mob__item {
  // display: flex;
  // align-items: center;

  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.contact-mob__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--title-text-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
  &:hover,
  &:focus {
    color: var(--acent-color);
  }
}

.contact-mob__icon {
  //   box-sizing: border-box;
  fill: currentColor;
  margin-right: 10px;
  margin-bottom: 0;
}

.header-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  padding: 48px 40px;
}

.header-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 40px;
  padding: 40px;
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;

  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-button-close {
  display: flex;
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  fill: currentColor;
}
